.header{
    width: 100%;
    height: 100px;
    background-color:#816f63;
}
.header__title{
    color:white;
    font-family:inter;
    font-size: 60px;
    line-height: 0.4;
    margin-left: 10px;
}